{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content="" />

        <!-- Site Title -->
        <title>Saasify - Startup & SaaS Landing Page HTML Template</title>
        <!-- Favicon -->
        <link rel="apple-touch-icon" href="{% static 'saasify_theme/assets/images/fav.svg' %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'saasify_theme/assets/images/fav.svg' %}" />

        <!-- Bootstrap css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/bootstrap.min.css' %}" />
        <!-- Font css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/font-awesome-pro.css' %}" />
        <!-- Icons css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/flaticon_saasify.css' %}" />
        <!-- Animate css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/animate.css' %}" />
        <!-- Sall css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/sal.css' %}" />
        <!-- Odometer css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/odometer.min.css' %}" />
        <!-- Meanmenu css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/meanmenu.css' %}" />
        <!-- Swiper Slider css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/swiper.min.css' %}" />
        <!-- Magnific-popup css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/magnific-popup.css' %}" />
        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/main.css' %}" />
        <!-- Responsive css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/responsive.css' %}" />
    </head>
    <body>
        <div id="tj-overlay-bg2" class="tj-overlay-canvas"></div>

        <!-- preloader -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_four"></div>
                    <div class="object-1" id="object_three"></div>
                    <div class="object-2" id="object_two"></div>
                    <div class="object-3" id="object_one"></div>
                </div>
                <button class="closeLoader tj-primary-black-btn"><span>Cancel Preloader</span></button>
            </div>
        </div>
        <!-- end: Preloader -->

        <!--========== Mobile Menu Start ==============-->
        <div class="tj-offcanvas-area">
            <div class="tj-offcanvas-header d-flex align-items-center justify-content-between">
                <div class="logo-area text-center">
                    <a href="index.html"><img src="{% static 'saasify_theme/assets/images/logo/mobile-logo.png' %}" alt="Logo" /></a>
                </div>
                <div class="offcanvas-icon">
                    <a id="canva_close" href="#">
                        <i class="fa-light fa-xmark"></i>
                    </a>
                </div>
            </div>
            <!-- Canvas Mobile Menu start -->
            <nav class="right_menu_togle mobile-navbar-menu d-lg-none" id="mobile-navbar-menu"></nav>
            <!-- Canvas Menu end -->
        </div>
        <!--========== Mobile Menu End ==============-->

        <!--========== Header Section Start ==============-->
        <header class="tj-header-area" id="tj-header-sticky">
            <div class="container">
                <div class="row">
                    <div class="header-content-two">
                        <div class="logo-area">
                            <a href="index.html"><img src="{% static 'saasify_theme/assets/images/logo/logo2.png' %}" alt="Logo" /></a>
                        </div>
                        <!-- Mainmenu Start -->
                        <div class="tj-main-menu d-lg-block d-none text-center" id="main-menu">
                            <ul class="main-menu">
                                <li class="has-dropdown">
                                    <a class="active" href="#"> Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html"> Home One</a></li>
                                        <li class="active"><a class="active" href="index2.html"> Home Two</a></li>
                                        <li><a href="index3.html"> Home Three</a></li>
                                        <li><a href="index4.html"> Home Four</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="about.html"> About Us</a>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#"> Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="feature.html"> Feature</a></li>
                                        <li><a href="pricing.html"> Pricing Plan</a></li>
                                        <li><a href="faq.html"> FAQ</a></li>
                                    </ul>
                                </li>
                                <li class="has-dropdown">
                                    <a href="#"> Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html"> Blog Grid</a></li>
                                        <li><a href="blog-details.html"> Blog Details</a></li>
                                        <li><a href="blog-details-sidebar.html"> Blog Details Sidebar</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Mainmenu Item End -->
                        <div class="header-button-box d-lg-block d-none">
                            <div class="tj-login-button header-button">
                                <a class="tj-black-btn" href="contact.html"> Login </a>
                            </div>
                            <div class="tj-singup-button header-button">
                                <a class="tj-primary-black-btn" href="contact.html"> Sing up</a>
                            </div>
                        </div>
                        <div class="tj-canva-icon d-lg-none">
                            <a class="canva_expander nav-menu-link menu-button" href="#">
                                <span class="dot1"></span>
                                <span class="dot2"></span>
                                <span class="dot3"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--========== Header Section End ==============-->