{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% autoescape off %}
        {% if site.site_meta_tags %}{{site.site_meta_tags}}{% endif %}
        {% endautoescape %}

        
        <!-- Favicon -->
        <link rel="apple-touch-icon" href="{% static 'saasify_theme/assets/images/fav.svg' %}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'saasify_theme/assets/images/fav.svg' %}" />

        <!-- Bootstrap css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/bootstrap.min.css' %}" />
        <!-- Font css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/font-awesome-pro.css' %}" />
        <!-- Icons css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/flaticon_saasify.css' %}" />
        <!-- Animate css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/animate.css' %}" />
        <!-- Sall css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/sal.css' %}" />
        <!-- Odometer css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/odometer.min.css' %}" />
        <!-- Meanmenu css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/meanmenu.css' %}" />
        <!-- Swiper Slider css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/swiper.min.css' %}" />
        <!-- Magnific-popup css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/magnific-popup.css' %}" />
        <!-- Main css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/main.css' %}" />
        <!-- Responsive css -->
        <link rel="stylesheet" href="{% static 'saasify_theme/assets/css/responsive.css' %}" />

        <script src="https://unpkg.com/htmx.org@1.9.10"></script>
