{% extends 'blog/base.html' %}
{% load static %}
{% load wagtailcore_tags  cache  %}

{% block content %}


<!--========== Breadcrumb Start ==============-->
        <section class="breadcrumb-wrapper" data-bg-image="assets/images/shape/breadcrumb.svg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="breadcrumb-content-area">
                            <div class="breadcrumb-heading">
                                <span class="sub-title"> Blog</span>
                                <h1 class="breadcrumb-title">The Latest News, Trends, and Best Practices On Product Development & Launch Strategies</h1>
                            </div>
                            <div class="breadcrumb-link">
                                <span>
                                    <a href="/">
                                        <span>{{site.site_name}}</span>
                                    </a>
                                </span>
                                <i class="fa-light fa-angle-right"></i>
                                <span>
                                    <a href="{% url 'wagtail_serve' '' %}blog"> Blog</a>
                                </span>
                                {% if category.name %}

                                <i class="fa-light fa-angle-right"></i>
                                <span>
                                    <a href=""> {{ category.name }}</a>
                                </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--========== Breadcrumb End ==============-->

        <!--========== Blog Start ==============-->
        <section class="tj-blog-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tj-sec-heading-two text-center">
                            <span class="sub-title"> Insights and Updates</span>
                            <h2 class="title">The Latest News, Trends, and Best Practoces</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="assets/images/blog/blog-1.jpg" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 5 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        Best Practices and common Pitfalls of AI</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="assets/images/blog/blog-2.jpg" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 10 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        What customer service processes provide</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="assets/images/blog/blog-3.jpg" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 3 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        Powerful AI Model Switches to quantum</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="assets/images/blog/blog-4.jpg" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 12 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        Best Practices and common Pitfalls of AI</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="assets/images/blog/blog-5.jpg" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 4 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        What customer service processes provide</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="assets/images/blog/blog-6.jpg" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 15 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        Powerful AI Model Switches to quantum</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj-star-group">
                <img class="icon-1" src="assets/images/icon/star-5.png" alt="Icon" />
                <img class="icon-2" src="assets/images/icon/star-6.png" alt="Icon" />
                <img class="icon-3" src="assets/images/icon/star-7.png" alt="Icon" />
                <img class="icon-4" src="assets/images/icon/star-8.png" alt="Icon" />
            </div>
            <div class="tj-star-group tj-star-group-1">
                <img class="icon-1" src="assets/images/icon/star-5.png" alt="Icon" />
                <img class="icon-2" src="assets/images/icon/star-6.png" alt="Icon" />
                <img class="icon-3" src="assets/images/icon/star-7.png" alt="Icon" />
                <img class="icon-4" src="assets/images/icon/star-8.png" alt="Icon" />
            </div>
            <div class="blog-shape">
                <img src="assets/images/shape/sec-shape15.svg" alt="Shape" />
            </div>
            <div class="blog-shape1">
                <img src="assets/images/shape/sec-shape16.svg" alt="Shape" />
            </div>
        </section>
        <!--========== Blog End ==============-->

        <!--========== Subcribe Section Start ==============-->
        <section class="tj-subcribe-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subcribe-content-area text-center">
                            <h3 class="title">Join our 250+ Community Let’s started</h3>
                            <div class="subcribe-input-form">
                                <div class="subcribe-input">
                                    <input
                                        type="email"
                                        id="mailOne"
                                        name="mail"
                                        placeholder="Enter your email address"
                                        required=""
                                    />
                                </div>
                                <div class="tj-subcribe-button">
                                    <button class="tj-primary-white-btn" type="submit" value="submit">
                                        Start for free
                                    </button>
                                </div>
                            </div>
                            <div class="subcribe-list text-center">
                                <ul class="list-gap">
                                    <li><i class="flaticon-checkmark"></i> No cards required</li>
                                    <li><i class="flaticon-checkmark"></i> 30 day free trial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj-circle-box6">
                <span class="circle-1"></span>
                <span class="circle-2"></span>
                <span class="circle-4"></span>
                <span class="circle-5"></span>
                <span class="circle-6"></span>
            </div>
        </section>
        <!--========== Subcribe Section End ==============-->

{% endblock content %}