{% extends 'blog/base.html' %}
{% load static %}
{% load wagtailcore_tags  cache  %}


{% block content %}

<!--========== Blog Start ==============-->
<div class="tj-blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                        <h1 class="title">
                            {{ self.title }} 
                        </h1>
                        
                        <div class="blog-meta">
                            <ul class="list-gap">
                                <li><i class="flaticon-time-left"></i> {{ page.date }}</li>
                            </ul>
                        </div>

                        {% for block in page.intro %}
                        {{ block.value.content }}
                        {% endfor %}

                        <hr>

                        <div  class="col-12 col-md-10 col-lg-10 mx-auto my-3 p-4 bg-light rounded hide_desktop">
                            <ol>
                                <i class="row my-3">
                                    Table of contents
                                </i>
                                {% for block in page.content %}
                                    <li class="m-1"><a href="#{{ block.id }}">{{ block.value.header }}</a></li>
                                {% endfor %}
                            </ol>
                        </div>

                    

                        <div class="">

                            {% if page.title_image %}

                            <div class="blog-thumb-image">
                                <img src="{{page.title_image.url}}" alt="" />
                            </div>


                            {% endif %}
                        

            
                            {% for block in page.second_intro %}
                            {{ block.value.content }}
                            {% endfor %}


                            <div class="details-title">
                                <h2>
                                    {{ page.secondary_title }}
                                </h2>
                            </div>

                            {% for block in page.text_before_content %}
                            {{ block.value.content }}
                            {% endfor %}

                            {% for block in page.content %}
                            <section class="my-3">
                                <h3><a id="{{ block.id }}">{{ block.value.header }}</a></h3>
                                {{ block.value.content }}
                            </section>
                            {% endfor %} 



                            {% if page.get_next_article %}
                            <hr>
                            <div class="p-2 next_post mt-5 mb-3" style="">
                                <strong  class="text-muted" style="font-size:1.2rem;">
                                    <i>
                                        Next article:
                                    </i>
                                </strong>
                                <br>
                                <a href="{{page.get_next_article.url}}" class="m-1 text-dark">
                                    <strong style="font-size:1.4rem;">
                                        {{page.get_next_article.title}}
                                    </strong>
                                </a>
                            </div>
                        {% endif %}

                        {% if page.get_previous_article %}
                        <hr>
                            <div class="p-2 previous_post mt-5 mb-3" style="">
                                <strong  class="text-muted" style="font-size:1.2rem;">
                                    <i>
                                        Previous article:
                                    </i>
                                </strong>
                                <br>
                                <a href="{{page.get_previous_article.url}}" class="m-1 text-dark">
                                    <strong style="font-size:1.4rem;">
                                        {{page.get_previous_article.title}}
                                    </strong>
                                </a>
                            </div>
                        {% endif %}
                     
                            <hr>
                            {% if page.get_5_next_in_same_category %}
                            <div class="tj-related-post my-5">
                                <h5 class="title"> If you enjoyed reading this article,
                                    you might also like in the category {% for cat in page.categories.all %}{{cat}}{% endfor %}:</h5>
                                <div class="row">

                                    {% for page in page.get_5_next_in_same_category %}
                                    <div class="col-lg-6 col-md-6">
                                        <div class="related-content-area">
                                            {% if page.title_image %}
                                            <div class="related-image">
                                                <img src="{{page.title_image.url}}" alt="" />
                                            </div>
                                            {% endif %}
                                            <div class="related-content">
                                                <h5 class="title-link">
                                                    <a href="{{page.url}}">{{page.title}}
                                                    </a>
                                                </h5>
                                             
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                            
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                    <div class="col-lg-4 hide_non_desktop">
                        <div  class="col-12 col-md-10 col-lg-10 mx-auto my-3 p-4 bg-light rounded stuck" >
                            <ol>
                                <i class="row my-3">
                                    Table of contents
                                </i>
                                {% for block in page.content %}
                                    <li class="m-1"><a href="#{{ block.id }}">{{ block.value.header }}</a></li>

                                   
                                {% endfor %}
                            </ol>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
        <!--========== Blog End ==============-->
{% include "home_site/includes/subscribe_banner.html" %}


<style>

    @media screen and (min-width: 992px) {
        .hide_desktop {
          visibility: hidden;
          clear: both;
          float: left;
          margin: 10px auto 5px 20px;
          width: 28%;
          display: none;
        }
      }
    @media screen and (max-width: 992px) {
        .hide_non_desktop {
          visibility: hidden;
          clear: both;
          float: left;
          margin: 10px auto 5px 20px;
          width: 28%;
          display: none;
        }
      }

      .stuck {
        position: sticky;
        top:0;
        overflow-y: scroll;
      }
</style>

{% endblock content %}
