{% extends 'blog/base.html' %}
{% load static %}
{% load wagtailcore_tags  cache  %}

{% block content %}


        <!--========== Hero Section Start ==============-->
        <section class="tj-hero-section-two">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="hero-content-two text-center">
                            <div class="tj-sec-heading-two">
                                <h1 class="title">The Latest News, Trends, and Best Practices On Product Development & Launch Strategies
                                </h1>
                             
                            </div>
                        </div>
                        <div class="hero-middle-area">
                            <div class="hero-input-form">
                                <div class="hero-input">
                                    <input
                                        type="email"
                                        id="mail"
                                        name="mail"
                                        placeholder="Enter your email address"
                                        required=""
                                    />
                                </div>
                                <div class="tj-hero-button">
                                    <button class="tj-primary-black-btn" type="submit" value="submit">
                                        Signup to email list
                                    </button>
                                </div>
                            </div>
                            <div class="header-list text-center">
                                <ul class="list-gap">
                                    <li><i class="flaticon-checkmark"></i> Unsubscribe at any time</li>
                                    <!-- <li><i class="flaticon-checkmark"></i> 30 day free trial</li> -->
                                </ul>
                            </div>
                        </div>
                        {% comment %} <div class="hero-image shake-y text-center">
                            <img src="{% static 'saasify_theme/assets/images/banner/hero1.png' %}" alt="Image" />
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="hero-overly-image pulse">
                <img src="{% static 'saasify_theme/assets/images/shape/overly-12.svg' %}" alt="overly" />
            </div>
            <div class="hero-overly-image1">
                <img src="{% static 'saasify_theme/assets/images/shape/overly-13.svg' %}" alt="overly" />
            </div>
            <div class="tj-star-box">
                <img class="star-1" src="{% static 'saasify_theme/assets/images/icon/star-1.png' %}" alt="Icons" />
                <img class="star-2" src="{% static 'saasify_theme/assets/images/icon/star-2.png' %}" alt="Icons" />
                <img class="star-3" src="{% static 'saasify_theme/assets/images/icon/star-3.png' %}" alt="Icons" />
                <img class="star-4" src="{% static 'saasify_theme/assets/images/icon/star-2.png' %}" alt="Icons" />
                <img class="star-5" src="{% static 'saasify_theme/assets/images/icon/star-3.png' %}" alt="Icons" />
                <img class="star-6" src="{% static 'saasify_theme/assets/images/icon/star-4.png' %}" alt="Icons" />
                <img class="star-7" src="{% static 'saasify_theme/assets/images/icon/star-3.png' %}" alt="Icons" />
                <img class="star-8" src="{% static 'saasify_theme/assets/images/icon/star-4.png' %}" alt="Icons" />
            </div>
        </section>
        <!--========== Hero Section End ==============-->


        <!--========== Blog Section Start ==============-->
        <section class="tj-blog-section" data-bg-image="assets/images/shape/group-overly.svg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="tj-sec-heading-two text-center">
                            <span class="sub-title"> Our Blog</span>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="{% static 'saasify_theme/assets/images/blog/blog-1.jpg' %}" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 5 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        Best Practices and common Pitfalls of AI</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="{% static 'saasify_theme/assets/images/blog/blog-2.jpg' %}" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 10 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        What customer service processes provide</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="tj-blog-item">
                            <div class="blog-image">
                                <a href="blog-details.html"> <img src="{% static 'saasify_theme/assets/images/blog/blog-3.jpg' %}" alt="Image" /></a>
                            </div>
                            <div class="blog-content-area">
                                <div class="blog-meta">
                                    <ul class="list-gap">
                                        <li><i class="flaticon-time-left"></i> 3 weeks ago</li>
                                        <li><i class="flaticon-settings"></i> <a href="#"> Creative</a></li>
                                    </ul>
                                </div>
                                <h4 class="title-link">
                                    <a class="blog-title" href="blog-details.html">
                                        Powerful AI Model Switches to quantum</a
                                    >
                                </h4>
                                <p>
                                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages,
                                </p>
                                <div class="tj-blog-button">
                                    <a class="tj-black-btn" href="blog-details.html"> Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj-star-group">
                <img class="icon-1" src="{% static 'saasify_theme/assets/images/icon/star-5.png' %}" alt="Icon" />
                <img class="icon-2" src="{% static 'saasify_theme/assets/images/icon/star-6.png' %}" alt="Icon" />
                <img class="icon-3" src="{% static 'saasify_theme/assets/images/icon/star-7.png' %}" alt="Icon" />
                <img class="icon-4" src="{% static 'saasify_theme/assets/images/icon/star-8.png' %}" alt="Icon" />
            </div>
            <div class="tj-star-group tj-star-group-1">
                <img class="icon-1" src="{% static 'saasify_theme/assets/images/icon/star-5.png' %}" alt="Icon" />
                <img class="icon-2" src="{% static 'saasify_theme/assets/images/icon/star-6.png' %}" alt="Icon" />
                <img class="icon-3" src="{% static 'saasify_theme/assets/images/icon/star-7.png' %}" alt="Icon" />
                <img class="icon-4" src="{% static 'saasify_theme/assets/images/icon/star-8.png' %}" alt="Icon" />
            </div>
        </section>
        <!--========== Blog Section End ==============-->


        <!--========== Subcribe Section Start ==============-->
        <section class="tj-subcribe-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subcribe-content-area text-center">
                            <h3 class="title">Join our 250+ Community Let’s started</h3>
                            <div class="subcribe-input-form">
                                <div class="subcribe-input">
                                    <input
                                        type="email"
                                        id="mailOne"
                                        name="mail"
                                        placeholder="Enter your email address"
                                        required=""
                                    />
                                </div>
                                <div class="tj-subcribe-button">
                                    <button class="tj-primary-white-btn" type="submit" value="submit">
                                        Start for free
                                    </button>
                                </div>
                            </div>
                            <div class="subcribe-list text-center">
                                <ul class="list-gap">
                                    <li><i class="flaticon-checkmark"></i> No cards required</li>
                                    <li><i class="flaticon-checkmark"></i> 30 day free trial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj-circle-box6">
                <span class="circle-1"></span>
                <span class="circle-2"></span>
                <span class="circle-4"></span>
                <span class="circle-5"></span>
                <span class="circle-6"></span>
            </div>
        </section>
        <!--========== Subcribe Section End ==============-->

{% endblock content %}