{% extends 'blog/base.html' %}
{% load static %}
{% load wagtailcore_tags  cache  %}


{% block content %}

<!--========== Blog Start ==============-->
<div class="tj-blog-details">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                        <h1 class="title">
                            {{ self.title }} 
                        </h1>
                        
                        <div class="blog-meta">
                            <ul class="list-gap">
                                <li><i class="flaticon-time-left"></i> {{ page.date }}</li>
                            </ul>
                        </div>

                        {% for block in page.intro %}
                        {{ block.value.content }}
                        {% endfor %}

                        <hr>
                        <div  class="col-12 col-md-10 col-lg-10 mx-auto my-3 p-4 bg-light rounded">
                            <ol>
                                <i class="row my-3">
                                    Table of contents
                                </i>
                                {% for block in page.content %}
                                    <li class="m-1"><a href="#{{ block.id }}">{{ block.value.header }}</a></li>
                                {% endfor %}
                            </ol>
                        </div>
                        <div class="">

                            {% if page.title_image %}

                            <div class="blog-thumb-image">
                                <img src="{{page.title_image.url}}" alt="" />
                            </div>


                            {% endif %}
                        

            
                            {% for block in page.second_intro %}
                            {{ block.value.content }}
                            {% endfor %}


                            <div class="details-title">
                                <h2>
                                    {{ page.secondary_title }}
                                </h2>
                            </div>

                            {% for block in page.text_before_content %}
                            {{ block.value.content }}
                            {% endfor %}

                            {% for block in page.content %}
                            <section class="my-3">
                                <h3><a id="{{ block.id }}">{{ block.value.header }}</a></h3>
                                {{ block.value.content }}
                            </section>
                            {% endfor %}    

               
                            <div class="tj-related-post my-5">
                                <h3 class="title">You also might like:</h3>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="related-content-area">
                                            <div class="related-image">
                                                <img src="{% static 'saasify_theme/assets//images/blog/blog-10.jpg' %}" alt="Blog" />
                                            </div>
                                            <div class="related-content">
                                                <h5 class="title-link">
                                                    <a href="#"> Powerful AI Model Switches to quantum</a>
                                                </h5>
                                                <p class="desc">
                                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                                    It has roots in a piece of classical Latin literature from 45 BC
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="related-content-area">
                                            <div class="related-image">
                                                <img src="{% static 'saasify_theme/assets//images/blog/blog-11.jpg' %}" alt="Blog" />
                                            </div>
                                            <div class="related-content">
                                                <h5 class="title-link">
                                                    <a href="#"> What customer service processes provide</a>
                                                </h5>
                                                <p>
                                                    Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is
                                                    therefore always free from repetition, injected humour
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
               
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="tj-main-sidebar">
                            <div class="tj-sidebar-widget sidebar-shape-border sidebar-shape-border1">
                                <div class="sidebar-search">
                                    <form action="#">
                                        <input
                                            type="text"
                                            class="form-control"
                                            name="search"
                                            id="search"
                                            placeholder="Search"
                                        />
                                        <button type="submit" value="search">
                                            <i class="fa-light fa-magnifying-glass"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="sidebar-shape">
                                    <span class="border-shadow shadow-1"></span>
                                    <span class="border-shadow shadow-2"></span>
                                </div>
                            </div>
                            <div class="tj-sidebar-widget sidebar-shape-border">
                                <div class="sidebar-recent-post">
                                    <h5 class="title">Latest Post</h5>
                                    <div class="single-post d-flex align-items-center">
                                        <div class="post-image">
                                            <a href="blog-details.html">
                                                <img src="{% static 'saasify_theme/assets//images/blog/blog-thumb.jpg' %}" alt="Blog"
                                            /></a>
                                        </div>
                                        <div class="post-header">
                                            <h6 class="title-link">
                                                <a href="#"> Best Practices and common Pitfalls</a>
                                            </h6>
                                            <span class="sub-title"> Dec 17, 2023</span>
                                        </div>
                                    </div>
                                    <div class="single-post d-flex align-items-center">
                                        <div class="post-image">
                                            <a href="blog-details.html">
                                                <img src="{% static 'saasify_theme/assets//images/blog/blog-thumb1.jpg' %}" alt="Blog"
                                            /></a>
                                        </div>
                                        <div class="post-header">
                                            <h6 class="title-link">
                                                <a href="#"> What customer service provide</a>
                                            </h6>
                                            <span class="sub-title"> Jan 09, 2023</span>
                                        </div>
                                    </div>
                                    <div class="single-post d-flex align-items-center">
                                        <div class="post-image">
                                            <a href="blog-details.html">
                                                <img src="{% static 'saasify_theme/assets//images/blog/blog-thumb2.jpg' %}" alt="Blog"
                                            /></a>
                                        </div>
                                        <div class="post-header">
                                            <h6 class="title-link">
                                                <a href="#"> Powerful AI Model to quantum</a>
                                            </h6>
                                            <span class="sub-title"> Mar 24, 2023</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="sidebar-shape">
                                    <span class="border-shadow shadow-1"></span>
                                    <span class="border-shadow shadow-2"></span>
                                </div>
                            </div>
                            <div class="tj-sidebar-widget sidebar-shape-border">
                                <div class="sidebar-catagory">
                                    <h5 class="title">All Catagory</h5>
                                    <ul class="list-gap">
                                        <li>
                                            <a href="#"
                                                >Saas Landing page
                                                <span> <i class="fa-light fa-angle-right"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                >Saas Landing
                                                <span> <i class="fa-light fa-angle-right"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                >Software
                                                <span> <i class="fa-light fa-angle-right"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                >Saas Software
                                                <span> <i class="fa-light fa-angle-right"></i></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#"
                                                >New Saas Software
                                                <span> <i class="fa-light fa-angle-right"></i></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="sidebar-shape">
                                    <span class="border-shadow shadow-1"></span>
                                    <span class="border-shadow shadow-2"></span>
                                </div>
                            </div>
                            <div class="tj-sidebar-widget sidebar-shape-border">
                                <div class="sidebar-tags">
                                    <h5 class="title">All Tags</h5>
                                    <div class="tagcloud">
                                        <a href="#"> Corporate </a>
                                        <a href="#"> Business </a>
                                        <a href="#"> Template </a>
                                        <a href="#"> Saas Landing </a>
                                        <a href="#"> Delivery</a>
                                        <a href="#"> Saas Software </a>
                                        <a href="#"> Design </a>
                                        <a href="#">Development</a>
                                    </div>
                                </div>
                                <div class="sidebar-shape">
                                    <span class="border-shadow shadow-1"></span>
                                    <span class="border-shadow shadow-2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========== Blog End ==============-->

        <!--========== Subcribe Section Start ==============-->
        <section class="tj-subcribe-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="subcribe-content-area text-center">
                            <h3 class="title">Join our 250+ Community Let’s started</h3>
                            <div class="subcribe-input-form">
                                <div class="subcribe-input">
                                    <input
                                        type="email"
                                        id="mailOne"
                                        name="mail"
                                        placeholder="Enter your email address"
                                        required=""
                                    />
                                </div>
                                <div class="tj-subcribe-button">
                                    <button class="tj-primary-white-btn" type="submit" value="submit">
                                        Start for free
                                    </button>
                                </div>
                            </div>
                            <div class="subcribe-list text-center">
                                <ul class="list-gap">
                                    <li><i class="flaticon-checkmark"></i> No cards required</li>
                                    <li><i class="flaticon-checkmark"></i> 30 day free trial</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tj-circle-box6">
                <span class="circle-1"></span>
                <span class="circle-2"></span>
                <span class="circle-4"></span>
                <span class="circle-5"></span>
                <span class="circle-6"></span>
            </div>
        </section>
        <!--========== Subcribe Section End ==============-->

{% endblock content %}
